*{font-family:Bank Gothic Medium BT;}
body{
	background-image:url('../images/Stars2.jpg');
	background-size: contain;
	background-position: center;
	overflow: hidden;
	height: 100vh;
	font-family:Bank Gothic Medium BT;
	margin:0;}

@font-face{font-family: "Bank Gothic Medium BT";src: url('Bank Gothic Medium BT.ttf') format('embedded-opentype'),url('Bank Gothic Medium BT.ttf')format('opentype');}

#back{width:20%;margin:auto;padding-top: 100px;}
#back a{color:#fff;text-decoration: none;text-transform: uppercase;font-size: 18px}
#back a:hover{color: blue; font-weight: bold;}


#pointsL{margin-left:0px;margin-top: 8px;max-width: 60px;height: 22px;border: 0;text-align: center;color: gold;font-size: 20px;background-color: black}
#OS{width: 30%;margin:auto}
#Objective{border: 0px;border-bottom: 1px solid white;Margin-left: 0px;margin-top:8;width: 320;height: 24px;text-align: center;color: White;font-size: 20px;background:black}
#pointsR{margin-left: 0px;margin-top:8px;max-width: 60px;height: 22px;border: 0;text-align: center;color: gold;font-size: 20px;background-color: black}


aside#playerleft{Float:left; width: 350px; Margin-top:5px; padding-left: 5px;}
#leftplayer{margin-top: -20px;margin-left: 35px;margin-bottom: 10px;border: 0px;padding-left: 5px;padding-bottom: 0px;font-size:25px;background:rgba(255,255,255,0) ;color:white;text-align:left;max-width:260px;}
#namel{margin-right: -350px;margin-bottom: -12px; }

textarea#Upgradeleft{margin:4px;margin-bottom: 5px;padding-left: 5px;border:3px #5dade2 solid;border-radius: 12px 12px 40px 0px;background-image:url('../images/Stars2.jpg');color: white;font-size: 14px;width: 280px;overflow: hidden;resize: vertical;}



aside#playerright{Float:right; width: 350px; Margin-top:5px; padding-right: 5px; text-align: right;}
#rightplayer{margin-top: -20px;margin-right: 43px;margin-bottom: 11px;border: 0px;padding-right: 5px;padding-bottom: 0px;font-size:25px;background:rgba(255,255,255,0);color:white;text-align:right;max-width: 258px;}
#nameR{margin-left: -10px;margin-bottom: -12px; width: 350px;max-height: 40px;}

textarea#Upgraderight{margin:4px;margin-bottom: 5px;padding-right: 5px;border:3px #5dade2 solid;border-radius: 12px 12px 0px 40px;background-image:url('../images/Stars2.jpg');color: white;font-size: 14px;text-align:right;width: 280px;overflow: hidden;resize: vertical;}




#Aft{margin:0px 0px 0px 36px;max-width:30px;height:30px;border:4px solid #5dade2;border-radius: 22px;background-color:#aed6f1;color: black;font-size: 18px;font-weight: bold;text-align: center;padding-right: 2px; padding-bottom:2px}
#Left{margin: 0px;max-width:30px;height:30px;border:4px solid #5dade2;border-radius:22px;background-color:#aed6f1;color:black;font-size: 18px;font-weight: bold;text-align: center;padding-right: 2px; padding-bottom:2px}
#Hull{margin:0px ;max-width:34px;height:34px;border:4px solid #909497;border-radius:4px;background-color:#F0F3F4;color:black;font-size: 20px;font-family: Arial;font-weight: bold;text-align: center;padding-right: 3px; padding-bottom:0px}
#Right{margin:0px;max-width:30px;height:30px;border:4px solid #5dade2;border-radius:22px;background-color:#aed6f1;color:black;font-size: 18px;font-weight: bold;text-align: center;padding-right: 2px; padding-bottom:2px}
#Fore{margin:0px 35px 0px 0px;max-width:30px;height:30px;border:4px solid #5dade2;border-radius:22px;background-color:#aed6f1;color:black;font-size: 18px;font-weight: bold;text-align: center;padding-right: 2px; padding-bottom:2px}

#zones h1{color: white;font-size:10px;margin:0px 0px 8px 42px;text-align: left;}
.gap1{margin-left: 13px}.gap2{margin-left: 12px}.gap3{margin-left: 11px}.gap4{margin-left: 7px}
#zones h2{color: white;font-size:10px;margin:0px 42px 8px 0px;text-align:right;}


		#Sqname{margin-left:1px;max-width:42px;height:11px;border:0px;background-color:black;color:white;font-size: 10px;text-align: center;}
		#SqHull{margin:0px 12px 0px 13px;max-width:18px;height:18px;border:0px;background-color:black;color:white;font-size: 16px;text-align:center;}
