*{font-family:Bank Gothic Medium BT;}
body{
	background-image:url('../images/Stars2.jpg');
	background-size: contain;
	background-position: center;
	overflow: hidden;
	height: 100vh;
	font-family:Bank Gothic Medium BT;
	margin:0;}

@font-face{font-family: "Bank Gothic Medium BT";src: url('Bank Gothic Medium BT.ttf') format('embedded-opentype'),url('Bank Gothic Medium BT.ttf')format('opentype');}

#back{width:20%;margin:auto;padding-top: 100px;}
#back a{color:#fff;text-decoration: none;text-transform: uppercase;font-size: 18px}
#back a:hover{color: blue; font-weight: bold;}

aside#playerleft{Float:left; width: 350px; Margin-top:5px; padding-left: 5px;}
#leftplayer{margin-top: -20px;margin-left: 30px;margin-bottom: 10px;border: 0px;padding-left: 5px;padding-bottom: 0px;font-size:25px;background:rgba(255,255,255,0) ;color:black;text-align:left;max-width:260px;}
#namel{margin-right: -350px;margin-bottom: -15px}

#Shipleft{margin-top:5px;padding-left: 5px;border: 0px;font-size:20px;text-decoration-line:underline;background-image:url('../images/Stars2.jpg');color:#D0D3D4;width: 270px;}


aside#playerright{Float:right; width: 350px; Margin-top:5px; padding-right: 5px; text-align: right;}
#rightplayer{margin-top: -20px;margin-right: 35px;margin-bottom: 10px;border: 0px;padding-right: 5px;padding-bottom: 0px;font-size:25px;background:rgba(255,255,255,0);color:black;text-align:right;max-width: 270px;}
#nameR{margin-left: -10px;margin-bottom: -15px; width: 350px;max-height: 40px;}

#Shipright{margin-top:5px;padding-right: 5px;border: 0px;font-size:20px;text-decoration-line:underline;background-image:url('../images/Stars2.jpg');color:#D0D3D4;text-align: right;max-width: 270px;}

textarea#Upgradeleft{margin-top:-2px;height: 16px;padding-left: 5px;border:0px;border-top:0px double #5D6D7E;background-image:url('../images/Stars2.jpg');color: #D0D3D4;font-size: 14px;overflow: hidden;max-width: 220px;}
textarea#Upgraderight{margin-top:-2px;height: 16px;padding-right: 5px;border:0px;border-top:0px double #5D6D7E;background-image:url('../images/Stars2.jpg');color: #D0D3D4;font-size: 14px;text-align: right;resize:vertical;overflow: hidden;max-width: 220px;}

#ps{margin-top:0px;max-width: 30px;height: 30px;padding-left:0px;padding-top: 3px;border:0px solid #ff5700;border-radius: 22px;background-color:black;color:#ff5700;font-size: 26px;font-family: Arial;font-weight: bold;text-align: center;}
#hullvalue{margin-top:3px;max-width: 40px;height: 30px;padding-left:3px;padding-top:2px;border:0px;border-radius: 0px;background-color: black;color:#FFFF99;font-size: 26px;font-family: Arial; font-weight: bold;text-align:left;}
#hullvaluer{margin-top:3px;max-width: 34px;height: 30px;padding-left:3px;padding-top:2px;border:0px;border-radius: 0px;background-color: black;color:#FFFF99;font-size: 26px;font-family: Arial; font-weight: bold;text-align:right;}
#sheildvalue{margin-top:3px;max-width: 20px;height: 30px;padding-right:0px;padding-top:2px;border:0px;border-radius: 0px;background-color: black;color:#1E90FF;font-size: 26px;font-family: Arial; font-weight: bold;text-align:center;}
#points{margin-top:5px;max-width: 50px;height: 22px;padding-right:2px;padding-top:3px; border:0px;background-image:url('../images/Stars2.jpg');color: white;font-size: 16px;font-family: Serif;text-align:center;}
#hullr{margin-top:3px;max-width:56px;height: 30px;padding-right:27px;padding-top:3px;border:0px;border-radius: 0px;background-image:url('../images/HullR.jpg');color:#FFFF99;font-size: 26px;font-family: Arial;font-weight: bold;text-align: right;}


#sheild1,#sheild2,#sheild3,#sheild4,#sheild5,#sheild6,#sheild7,#sheild8
	{margin-top: 0px;margin-bottom: -6px;margin-right: -8px;max-width:30px;height:30px;padding-left:0px;border:0px;}
#hull1,#hull2,#hull3,#hull4,#hull5,#hull6,#hull7,#hull8
	{margin-top: 0px;margin-bottom: -6px;margin-right: -8px;max-width:30px;height:30px;padding-left:0px;border:0px;}

#sheilda,#sheildb,#sheildc,#sheildd,#sheilde,#sheildf,#sheildg,#sheildh
	{margin-top: 0px;margin-bottom: -6px;margin-left: -4px;margin-right: -4px;max-width:30px;height:30px;padding-left:0px;border:0px;}
#hulla,#hullb,#hullc,#hulld,#hulle,#hullf,#hullg,#hullh
	{margin-top: 0px;margin-bottom: -6px;margin-left: -3px;margin-right: -4px;max-width:30px;height:30px;padding-left:0px;border:0px;}
