
body{
	background-image:url('../images/Stars.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	color:#fff;
	font-family::Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;}

.container{width:80%;margin:auto;padding-bottom: 0px;}

header{color:#fff;padding-top:20px;height:40px;border-bottom: #17202A 5px solid;}
header .highlite{color: red;font-weight: bolder;}
header a{color:#fff;text-decoration: none;text-transform: uppercase;font-size: 16px}
header ul{margin: 0;padding:0;list-style: none;}

header li{float:left;display:inline;padding: 0 20px 0 20px;}

header #main-header{float:left;}
header #main-header h1{margin: 0;}
Header nav{float:right;}
header .current a{color: blue; font-weight: bold;}
Header a:hover{color: blue; font-weight: bold;}

.Xwinglinks{float:left;margin: auto;}
.Xwinglinks li{display:inline;padding: 0 12px 0 0px;}
.Xwinglinks a{color:red;text-decoration: none;text-transform: uppercase;font-size: 18px}
.Xwinglinks a:hover{color: blue; font-weight: bold;}
.Xwingepic{float: right;margin: 0px 140px 0px 0px;}

.Armadalinks{float: left; margin: auto;}
.Armadalinks li{display:inline;padding: 0 12px 0 0px; margin: 0px}
.Armadalinks a{color:blue;text-decoration: none;text-transform: uppercase;font-size: 18px}
.Armadalinks a:hover{color: red; font-weight: bold;}

.SSD{float: right; margin: 0px 30px 0px 0px;}
.SSD li{display:inline;padding: 0px 6px 0px 0px; margin: 0px;}
.SSD a{color:blue;text-decoration: none;text-transform: uppercase;font-size: 18px;}
.SSD a:hover{color: red; font-weight: bold;}

.SSD2{float: right; margin: 200px -385px 0px 0px;}
.SSD2 li{display:inline;padding: 0px 20px 0px 0px; margin: 0px;}
.SSD2 a{color:blue;text-decoration: none;text-transform: uppercase;font-size: 18px;}
.SSD2 a:hover{color: red; font-weight: bold;}

.SSD3{float: right; margin: 400px -450px 0px 0px;}
.SSD3 li{display:inline;padding: 0px 6px 0px 0px; margin: 0px;}
.SSD3 a{color:blue;text-decoration: none;text-transform: uppercase;font-size: 18px;}
.SSD3 a:hover{color: red; font-weight: bold;}


#subtitle-1 h2{text-align: center;}
.Logo{margin-left:40px}
